@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll var(--animation-duration, 20s) linear infinite;
  animation-direction: var(--animation-direction, forwards);
}
